#root {
  max-width: 1280px;
  padding: 1rem;
  width: 100%;
}

@media screen and (min-width: 480px) {
  #root {
    padding: 2rem;
  }
}

.pokemons h1 {
  text-align: center;
}

.section__pokemon {
  border: 1px solid black;
  padding: 1rem;
  margin-top: 1rem;
}

.section__pokemon h3 {
  margin: 0;
  padding-bottom: 1rem;
  text-align: center;
}

.section__pokemon-form {
  display: grid;
  gap: 1rem;
}

@media screen and (min-width: 480px) {
  .section__pokemon-form {
    grid-template-columns: repeat(2, 1fr);
  }
}

.section__pokemon-form label {
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

@media screen and (min-width: 480px) {
  .section__pokemon-form label {
    padding: 1rem;
  }
}

.section__pokemon-form label input {
  margin-left: 0.75rem;
}

.section__pokemon-form span:first-child {
  margin-left: 1rem;
  margin-right: 0.5rem;
}

.section__pokemon-form span:last-child {
  margin-left: 1rem;
}

.section__pokemon-form .action-buttons {
  padding-top: 2rem;
  justify-content: center;
  display: flex;
  gap: 1rem;
}

@media screen and (min-width: 480px) {
  .section__pokemon-form .action-buttons {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.pokemon-table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

.pokemon-table th {
  border: 1px solid black;
  padding: 0.1rem;
}

@media screen and (min-width: 480px) {
  .pokemon-table th {
    padding: 0.3rem;
  }
}

.pokemon-table td {
  border: 1px solid black;
}

.pokemon-table td .action {
  padding: 0.1rem;
}

.pokemon-table td .action:first-child {
  margin-right: 0.5rem;
}
@media screen and (min-width: 480px) {
  .pokemon-table td .action {
    padding: 0.3rem;
  }
}

.pokemon-table td img {
  height: 2rem;
}

.search-pokemon {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  flex-direction: column;
  gap: 0.75rem;
}

@media screen and (min-width: 480px) {
  .search-pokemon {
    flex-direction: row;
    align-items: end;
  }
}

.search-pokemon label {
  text-align: left;
}

.search-pokemon__input {
  display: flex;
  flex-direction: column;
}

.search-pokemon__input input {
  background-image: url("assets/lookup.svg");
}

.search-pokemon button img {
  width: 1rem;
  transform: rotate(45deg);
}
